html
  head
    title Blog
    link(href='/css/blog.css' rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/nav.js')

  body
    #container
      h1 The Blog of a Saint
      #posts
        .post
          .post-content
            h2 Hi
            p Derp.
          .post-info
            p 08/11/2014
            ul
              li node
              li jade
            

    div#sidebar
      p
        b Archive
