html
  head
    title Dakota St. Laurent
    link(href='/css/home.css' rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')

  body
    div.container
      div.row
        img(src="/img/Rainking.png", title="Artwork by Jacky Ngai")

        ul#nav
          li
            a(href="http://saintdako.github.io/about") About
          li
            a(href="http://saintdako.github.io/projects") Projects
          li
            a(href="Dakota-StLaurent-resume.pdf") Resume
          li
            a(href="http://saintdako.github.io") Blog
          li
            a(href="https://github.com/SaintDako") GitHub