html
  head
    title Dakota St. Laurent
    link(href='/css/home.css' rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/nav.js')

  body
    div.container
      div.row
        div#divleft
          img(src="/img/Rainking.png", title="Artwork by Jacky Ngai")

        div#divright
          h1 Dakota St. Laurent
          h3 King of the Rain
          p.
            Hiya. I study applied mathematics at the University of Waterloo (B.Math. 2015). More importantly, I code. I'm a jack-of-all-trades and a master-of-none, but I program mostly in JavaScript and Python, focusing on web applications and numerical computation.
            
          p.
            I've dabbled in many other languages, e.g. C, MATLAB, Go, Assembly, Java, across many different kinds of programming, e.g. back-end, Android, games, security, hardware. I like all of it, except Java, sometimes. To see what I've done, check out my projects page or my GitHub.
          
          p.
            Besides programming, I'm a bit of a music junkie. I also like video games, card games, TV/anime and I'm a huge fan of Japanese Mahjong, although I'm pretty bad at it.
            
          p 
            b tl;dr: 
            | aspiring full-stack developer, amateur mahjong player.

          ul#nav
            li#li-pro Projects
            li#li-blo Blog
            li#li-git GitHub
            li#li-twi Twitter
            li#li-lin LinkedIn