html
  head
    title Dakota St. Laurent
    link(href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" )

    link(href='/css/projects.css',rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/js/vendor/jQueryRotateCompressed.js')
    script(src='/js/projects.js')

  body
    h1 Projects
    p.
      Here's a few projects I've worked on over the past year or so. 
      Not everything I'm currently working on is listed here, as it's 
      absolutely-incredibly-super-confidential information that is 
      on a strict need-to-know basis. Or something.
    div#projects
      for proj in projects
        div.project
          div.project-header
            h2
              img(src="/img/caret.png")
              = proj.title
            h3
              = proj.header
          div.project-content
            for con in proj.content
              div.subcontent!= con
            
    hr
    p.
      For the record, this website is written using NodeJS/Express, Jade and SASS, 
      except for the web-apps hosted on here (at the moment).

    div.centering
      ul#nav.centering
        li
          a(href="/") Home
        li
          a(href="https://medium.com/@SaintDako/") Blog
        li
          a(href="https://github.com/StDako") GitHub
        li
          a(href="https://twitter.com/stdako") Twitter
        li
          a(href="http://linkedin.com/in/dakotastlaurent") LinkedIn