<html ng-app="blog">
  <head>
    <title>Blog</title>
    <link href="/css/blog.css" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/bower_components/momentjs/min/moment.min.js"></script>
    <script type="text/javascript" src="/js/blog/app.js"></script>
    <script type="text/javascript" src="/js/blog/services.js"></script>
    <script type="text/javascript" src="/js/blog/controllers.js"></script>
    <!-- <script src="/js/nav.js"></script> -->
  </head>

  <body>
    <div id="header">
      <h1><a href="#/">The Blog of a Saint</a></h1>
    </div>

    <div id='posts'>
      <div ng-view ng-controller="PostsCtrl"></div>
    </div>

    <div id="sidebar" ng-controller="SidebarCtrl">
      <p><b>Archive</b></p>
      <ul>
        <li ng-repeat="date in dates">
          <a ng-href="#/archive/{{date.replace('-','/')}}">{{moment(date, 'YYYY-MM').format('MMMM YYYY')}}</a>
          <small>({{sidebarData.dates.data[date]}})</small>
        </li>
      </ul>
      <hr>
      <p><b>Tags</b></p>
      <ul>
        <li ng-repeat="tag in topics">
          <a ng-href="#/topic/{{tag}}">{{tag}}</a>
          <small>({{sidebarData.topics.data[tag]}})</small>
        </li>
      </ul>
    </div>

  </body>
</html>
